<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ include file="./../common/common.jsp"%>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
</style>
</head>
<body>
	<div class="container">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h2 class="panel-title" align="left">게시물 목록</h2>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
					</tr>
					<% for(int i = 1 ; i < 11 ; i++) {%>
						<% if(i%2==0){ %>
							<tr class="danger">
								<td><%=i%></td>
								<td>호호호</td>
								<td>김철수</td>
							</tr>
						<% }else{%>
							<tr class="success">
								<td><%=i%></td>
								<td>하하하</td>
								<td>박영희</td>
							</tr>
						<% }%>
					<% }%>

				</table>
				<div align="center">
					<ul class="pagination pagination-lg">
					  <li><a href="#">1</a></li>
					  <li class="active"><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li class="disabled"><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>